In [1]:
import pandas as pd
import numpy as np

In [2]:
with open('./data/CAN traffic (normal only).txt', 'r') as f:
  normal_data_list = [line.rstrip().split("\t") for line in f]

In [3]:
with open('./data/CAN traffic (attack included).txt', 'r') as f:
  abnormal_data_list = [line.rstrip().split("\t") for line in f]

In [4]:
normal_data_df = pd.DataFrame(normal_data_list, columns=['Timestamp', 'Arbitration ID', 'DLC', 'data', 'Class'])
abnormal_data_df = pd.DataFrame(abnormal_data_list, columns=['Timestamp', 'Arbitration ID', 'DLC', 'data', 'Class', 'SubClass'])

In [5]:
normal_data_df

         Timestamp Arbitration ID DLC                     data   Class
0       1597707827            260   8  06 25 05 30 FF CF 71 55  Normal
1       1597707827            329   8  4A C5 7E 8C 31 2D 01 10  Normal
2       1597707827            38D   8  00 00 49 00 90 7F FE 01  Normal
3       1597707827            420   8  50 1E 00 C8 FC 4F 6A 00  Normal
4       1597707827            421   8  FE 07 00 FF E3 7F 00 52  Normal
...            ...            ...  ..                      ...     ...
179341  1597707902            391   8  00 00 00 00 00 00 08 EB  Normal
179342  1597707902            260   8  06 39 1A 30 FF D1 A1 63  Normal
179343  1597707902            421   8  FE 07 00 FF E3 7F 00 9E  Normal
179344  1597707902            130   8  94 8E F0 81 00 00 0B AC  Normal
179345  1597707902            140   8  30 80 00 6F 20 00 0B 35  Normal

[179346 rows x 5 columns]

In [7]:
normal_data_df['data'].loc[0]

'06 25 05 30 FF CF 71 55'

SyntaxError: invalid syntax (<ipython-input-10-e3e7a6bcb9c4>, line 1)