In [1]:
import pandas as pd

In [2]:
two_dimensional_list = [['one', 20, 56], ['two', 22, 60], ['three', 24, 45],['four', 25, 72]]

In [9]:
my_df = pd.DataFrame(two_dimensional_list, columns=['name', 'en_score', 'mt_score'], index=['a', 'b', 'c', 'd'])
my_df

    name  en_score  mt_score
a    one        20        56
b    two        22        60
c  three        24        45
d   four        25        72

In [5]:
type(my_df)

pandas.core.frame.DataFrame

In [10]:
my_df.columns

Index(['name', 'en_score', 'mt_score'], dtype='object')

In [11]:
my_df.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [13]:
my_df.dtypes

name        object
en_score     int64
mt_score     int64
dtype: object