In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/enrolment_2.csv')

In [3]:
allowed = df["status"] == "allowed"

In [9]:
course_counts = df.loc[allowed, "course name"].value_counts()

In [27]:
auditoriumlist = list(course_counts[course_counts >= 80].index)

In [35]:
largeroomlist = list(course_counts[(course_counts < 80) & (course_counts >= 40)].index)

In [36]:
mediumroomlist = list(course_counts[(course_counts < 40) & (course_counts >= 15)].index)

In [37]:
smallroomlist = list(course_counts[(course_counts > 4) & (course_counts < 15)].index)

In [38]:
not_allowed = df["status"] == "not allowed"

In [39]:
df.loc[not_allowed, "room assignment"] = "not assigned"

In [40]:
for course in auditoriumlist:
    df.loc[(df["course name"] == course) & allowed, "room assignment"] = "Auditorium"
for course in largeroomlist:
    df.loc[(df["course name"] == course) & allowed, "room assignment"] = "Large room"
for course in mediumroomlist:
    df.loc[(df["course name"] == course) & allowed, "room assignment"] = "Medium room"
for course in smallroomlist:
    df.loc[(df["course name"] == course) & allowed, "room assignment"] = "Small room"

In [41]:
df

           id  year           course name   status room assignment
0     2777729     1               science  allowed      Auditorium
1     2777730     2               science  allowed      Auditorium
2     2777765     1                  arts  allowed      Auditorium
3     2777766     2                  arts  allowed      Auditorium
4     2777785     1                   mba  allowed      Small room
...       ...   ...                   ...      ...             ...
1995  2796805     3  computer application  allowed     Medium room
1996  2796812     1               nursing  allowed     Medium room
1997  2796813     2               nursing  allowed     Medium room
1998  2796814     3               nursing  allowed     Medium room
1999  2796815     4               nursing  allowed     Medium room

[2000 rows x 5 columns]